section#design {
	div.container {
		background-color: @yellow;
		border: 20px solid #fff;
		img {
			text-align: center;
			margin: 0 auto;
			display: block;
		}
		div#options {
			width: 100%;
			padding: 30px 0 40px;
			ul#filters {
				text-align: center;
				li {
					display: inline-block;
					padding: 0 2%;
					font-family: arial, sans-serif;
					font-weight: bold;
					font-size: 1.1875em;
					line-height: 1.35em;
					a {
						color: @black;
						text-decoration: none;
						&:hover {
							color: #fff;
							.transition;
						}
					}
				}
			}
			div.hidden {
				display: none;
			}
		}
		div#design-container {
			width: 100%;
			padding-top: 80px;
			article.piece {
				width: 22%;
				margin: 0 5.5% 145px 5.5%;
				display: inline-block;
				background-color: #000;
				position: relative;
				img {
					width: 100%;
				}
				&:hover {
					img {
						opacity: .4;
					}
					.hover {
						opacity: 1;
						height: 100%;
					}
				}
				.hover {
					opacity: 0;
					height: 0;
					position: absolute;
					top: 0;
					left: 0;
					padding: 10%;
					.transition;
				}
				.btns {
					position: absolute;
					bottom: 10%;
					width: 80%;
					text-align: center;
				}
			}
		}
	}
}