
/******** START MAIN FOOTER STYLES *********/

footer {
	.inner {
		background-color: @yellow;
		border-left: 20px solid #fff;
		border-right: 20px solid #fff;
		border-bottom: 20px solid #fff;
	}
	p {
		font-family: georgia, sans-serif;
		font-size: 0.75em;
		color: #fff;
		text-align: center;
		padding: 40px 0 33px;
	}
}

/******** END FOOTER STYLES *********/
