@charset "UTF-8";
/* Eric Meyer's reset
	http://meyerweb.com/eric/tools/css/reset/ 
	v2.0b1 | 201101 
	NOTE: WORK IN PROGRESS
	USE WITH CAUTION AND TEST WITH ABANDON */
/* Use this reset as a starting point, and customize to your needs */
/* Slightly modified to prevent anchor elements from losing outline, as in HTML5 Boilerplate */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding-box !important;
  -webkit-background-clip: padding-box !important;
  background-clip: padding-box !important;
}
a {
  background: transparent;
  outline: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
/* remember to define visible focus styles! 
:focus {
	outline: ?????;
} */
/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Meyer's reset ends here */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
b,
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
small {
  font-size: 85%;
}
img {
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
button[disabled],
input[disabled] {
  cursor: default;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
/* Colors for form validity */
/*
 * Correct overflow not hidden in IE9
 */
svg:not(:root) {
  overflow: hidden;
}
/* For image replacement */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}
.ir br {
  display: none;
}
/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
  display: none !important;
  visibility: hidden;
}
/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden;
}
/* Contain floats: h5bp.com/q */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.browsehappy {
  height: 10%;
  width: 100%;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 60px 0;
  font-size: 22px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999999999;
}
.browsehappy a {
  color: yellow;
  text-decoration: underline;
}
.browsehappyimg {
  z-index: 999999999999999;
  position: absolute;
  left: 48%;
  top: 12%;
}
/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  /* Black prints faster: h5bp.com/s */
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  /* Don't show links for images, or javascript/internal links */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  /* h5bp.com/t */
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
.pad-inner {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding-box !important;
  -webkit-background-clip: padding-box !important;
  background-clip: padding-box !important;
}
/*==================================================*/
/*=============== MOLECULAR STYLES ================*/
/*===============================================*/
/* (Common Elements that make up bigger groups elements.) */
body {
  -webkit-font-smoothing: antialiased;
  background-color: #000;
}
.inner {
  max-width: 1300px;
  margin: 0 auto;
}
html {
  font-size: 16px;
}
body {
  font-size: 1rem;
}
/******** COLOR STYLES *********/
h1 {
  font-family: arial, sans-serif;
  font-weight: bold;
  font-size: 1.1875em;
  line-height: 1.35em;
  color: #000;
}
h2 {
  font-family: georgia, sans-serif;
  font-size: 1em;
  line-height: 1.35em;
  color: #000;
}
h3 {
  font-family: georgia, sans-serif;
  font-size: .8em;
  line-height: 1.5em;
  color: #fff;
  text-align: center;
}
p {
  padding-bottom: 20px;
}
.btn {
  border: 2px solid #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-family: arial, sans-serif;
  font-size: .7em;
  line-height: 2em;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #fff;
  text-decoration: none;
  padding: 7px;
  text-align: center;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  transition: all 400ms ease;
}
.btn:hover {
  background-color: #fff;
  color: #000;
}
.btn.two {
  width: 47%;
  margin-right: 3%;
}
.btn.two:last-child {
  margin-right: 0;
}
/*=================================================*/
/*================ ORGANIC STYLES ================*/
/*===============================================*/
/* (Groups of elements that are used throughout the site.) */
/******** START MAIN HEADER AND NAVIGATION STYLES *********/
header div.inner {
  background-color: #febf10;
  position: relative;
}
header div#logo {
  display: inline-block;
  vertical-align: top;
  border-left: 20px solid #fff;
  padding-right: 25px;
  width: 42%;
}
header div#logo img {
  width: 100%;
}
header div#nav {
  border-right: 20px solid #fff;
  vertical-align: top;
  width: 57%;
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  overflow: hidden;
}
header a#showMenu {
  display: none;
}
header li {
  font-family: verdana, sans-serif;
  font-size: 1.125em;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  margin: 20px 0;
}
header li a {
  padding: 0 14px;
  text-decoration: none;
  color: #000;
  background-position: 10px 20px;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  transition: all 400ms ease;
}
header li a:hover {
  text-decoration: none;
  background-position: 10px 0px;
}
header li a:hover.home {
  background: url(/_assets/img/hover-home.png) no-repeat center center #febf10;
}
header li a:hover.about {
  background: url(/_assets/img/hover-about.png) no-repeat center center #febf10;
}
header li a:hover.film {
  background: url(/_assets/img/hover-film.png) no-repeat center center #febf10;
}
header li a:hover.design {
  background: url(/_assets/img/hover-design.png) no-repeat center center #febf10;
}
header li a:hover.ttm {
  background: url(/_assets/img/hover-about.png) no-repeat center center #febf10;
}
header li a:hover.contact {
  background: url(/_assets/img/hover-contact.png) no-repeat center center #febf10;
}
header #crow {
  background: url(/_assets/img/crow.png) no-repeat 84% bottom transparent;
  min-height: 166px;
}
header #crow img {
  padding: 4px 0 0px 130px;
  width: 65%;
}
/******** END MAIN HEADER AND NAVIGATION STYLES *********/
/******** START MAIN FOOTER STYLES *********/
footer .inner {
  background-color: #febf10;
  border-left: 20px solid #fff;
  border-right: 20px solid #fff;
  border-bottom: 20px solid #fff;
}
footer p {
  font-family: georgia, sans-serif;
  font-size: 0.75em;
  color: #fff;
  text-align: center;
  padding: 40px 0 33px;
}
/******** END FOOTER STYLES *********/
/* Start: Recommended Isotope styles */
/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}
/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}
/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}
.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020;
}
.fancybox-skin {
  position: relative;
  background: #f9f9f9;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.fancybox-opened {
  z-index: 8030;
}
.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}
.fancybox-outer,
.fancybox-inner {
  position: relative;
}
.fancybox-inner {
  overflow: hidden;
}
.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}
.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap;
}
.fancybox-image,
.fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%;
}
.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}
#fancybox-loading,
.fancybox-close,
.fancybox-prev span,
.fancybox-next span {
  background-image: url('/_assets/img/fancybox_sprite.png');
}
#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060;
}
#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url('/_assets/img/fancybox_loading.gif') center center no-repeat;
}
.fancybox-close {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040;
}
.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent url('/_assets/img/blank.gif');
  /* helps IE */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  z-index: 8040;
}
.fancybox-prev {
  left: 0;
}
.fancybox-next {
  right: 0;
}
.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden;
}
.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px;
}
.fancybox-next span {
  right: 10px;
  background-position: 0 -72px;
}
.fancybox-nav:hover span {
  visibility: visible;
}
.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important;
}
/* Overlay helper */
.fancybox-lock {
  overflow: hidden !important;
  width: auto;
}
.fancybox-lock body {
  overflow: hidden !important;
}
.fancybox-lock-test {
  overflow-y: hidden !important;
}
.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: url('/_assets/img/fancybox_overlay.png');
}
.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}
.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll;
}
/* Title helper */
.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050;
}
.fancybox-opened .fancybox-title {
  visibility: visible;
}
.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center;
}
.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #FFF;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap;
}
.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff;
}
.fancybox-title-inside-wrap {
  padding-top: 10px;
}
.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
}
/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  #fancybox-loading,
  .fancybox-close,
  .fancybox-prev span,
  .fancybox-next span {
    background-image: url('/_assets/img/fancybox_sprite@2x.png');
    background-size: 44px 152px;
    /*The size of the normal image, half the size of the hi-res image*/
  }
  #fancybox-loading div {
    background-image: url('/_assets/img/fancybox_loading@2x.gif');
    background-size: 24px 24px;
    /*The size of the normal image, half the size of the hi-res image*/
  }
}
/*================================================*/
/*================  PAGE STYLES  ================*/
/*==============================================*/
/* (Styles for pages with elements occuring in ways specific to the page.) */
section#typewriter-obsess div.container {
  border-left: 20px solid #fff;
  border-right: 20px solid #fff;
  background: url(/_assets/img/bg-home.png) no-repeat center 16px transparent;
  background-size: 100%;
  background-color: #fff;
  position: relative;
}
section#typewriter-obsess div.container img {
  text-align: center;
  margin: 0 auto;
  display: block;
}
section#typewriter-obsess div.container article {
  display: inline-block;
  vertical-align: top;
}
section#typewriter-obsess div.container a.social {
  position: absolute;
  bottom: 50px;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  transition: all 400ms ease;
}
section#typewriter-obsess div.container a.social img {
  width: 100%;
}
section#typewriter-obsess div.container a.social:hover {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
section#typewriter-obsess div.container article#typewriter {
  width: 60%;
  padding: 83px 0 128px;
}
section#typewriter-obsess div.container article#typewriter img {
  width: 49%;
}
section#typewriter-obsess div.container article#typewriter a.facebook {
  width: 37px;
  left: 12px;
}
section#typewriter-obsess div.container article#typewriter a.instagram {
  width: 40px;
  left: 37px;
}
section#typewriter-obsess div.container article#typewriter a.twitter {
  width: 40px;
  left: 65px;
}
section#typewriter-obsess div.container article#obsess {
  width: 39%;
  padding: 221px 0 303px;
}
section#typewriter-obsess div.container article#obsess img {
  width: 50%;
}
section#typewriter-obsess div.container article#obsess a.vimeo {
  width: 39px;
  right: 12px;
}
section#about div.container {
  background-color: #febf10;
  border: 20px solid #fff;
}
section#about div.container img {
  text-align: center;
  margin: 0 auto;
  display: block;
}
section#about div.container article#desk {
  display: inline-block;
  vertical-align: top;
  width: 60%;
  padding: 114px 0 128px;
}
section#about div.container article#desk img {
  width: 94%;
}
section#about div.container article#text {
  display: inline-block;
  width: 39%;
  padding: 221px 45px 0 0;
}
section#about div.container article#text h1 {
  padding-bottom: 38px;
}
section#contact div.container {
  background-color: #febf10;
  border: 20px solid #fff;
}
section#contact div.container h1 {
  background: url(/_assets/img/bg-contact.png) no-repeat center center transparent;
  text-align: center;
  color: #fff;
  margin-bottom: 44px;
  text-transform: uppercase;
  font-family: verdana, sans-serif;
  font-size: 2.25em;
}
section#contact div.container div.socials {
  text-align: right;
}
section#contact div.container a.social {
  margin: 24px 12px 0 0;
  width: 31px;
  display: inline-block;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  transition: all 400ms ease;
}
section#contact div.container a.social img {
  width: 100%;
}
section#contact div.container a.social:hover {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
section#contact div.cans {
  background: url(/_assets/img/bg-cans.png) no-repeat center 90px transparent;
  padding-bottom: 100px;
}
section#contact div.cans img {
  width: 100%;
  padding-top: 30px;
}
section#contact div.cans .info {
  width: 39%;
  margin: 0 auto;
}
section#contact div.cans article {
  width: 49.5%;
  display: inline-block;
}
section#contact div.cans article p {
  font-family: arial, sans-serif;
  font-size: 1em;
}
section#contact div.cans article p a {
  color: #000;
  text-decoration: none;
}
section#contact div.cans article p a:hover {
  color: #febf10;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  transition: all 400ms ease;
}
section#contact div.cans article p.phone {
  text-align: right;
  padding: 10px 20px 10px 0px;
}
section#contact div.cans article p.address {
  text-align: left;
  padding: 10px 0 10px 15px;
}
section#contact div.cans article:first-child {
  border-right: 2px solid #000;
}
section#film div.container {
  background-color: #febf10;
  border: 20px solid #fff;
}
section#film div.container img {
  text-align: center;
  margin: 0 auto;
  display: block;
}
section#film div.container article#text {
  display: block;
}
section#film div.container article#text h1 {
  padding-bottom: 8px;
}
section#film div.container article#text h2 {
  padding-bottom: 50px;
}
section#film div.container article#text h2 a {
  text-decoration: none;
  color: #fff;
}
section#film div.container article#text h2 a:hover {
  color: #000000;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  transition: all 400ms ease;
}
section#film div.container article#portal {
  display: block;
  width: 62%;
  margin: 0 19% 0;
  padding: 50px 0;
}
section#film div.container article#portal img {
  padding: 300px 0 250px;
}
section#film div.container article#portal img:hover {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  transition: all 400ms ease;
}
section#design div.container {
  background-color: #febf10;
  border: 20px solid #fff;
}
section#design div.container img {
  text-align: center;
  margin: 0 auto;
  display: block;
}
section#design div.container div#options {
  width: 100%;
  padding: 30px 0 40px;
}
section#design div.container div#options ul#filters {
  text-align: center;
}
section#design div.container div#options ul#filters li {
  display: inline-block;
  padding: 0 2%;
  font-family: arial, sans-serif;
  font-weight: bold;
  font-size: 1.1875em;
  line-height: 1.35em;
}
section#design div.container div#options ul#filters li a {
  color: #000000;
  text-decoration: none;
}
section#design div.container div#options ul#filters li a:hover {
  color: #fff;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  transition: all 400ms ease;
}
section#design div.container div#options div.hidden {
  display: none;
}
section#design div.container div#design-container {
  width: 100%;
  padding-top: 80px;
}
section#design div.container div#design-container article.piece {
  width: 22%;
  margin: 0 5.5% 145px 5.5%;
  display: inline-block;
  background-color: #000;
  position: relative;
}
section#design div.container div#design-container article.piece img {
  width: 100%;
}
section#design div.container div#design-container article.piece:hover img {
  opacity: .4;
}
section#design div.container div#design-container article.piece:hover .hover {
  opacity: 1;
  height: 100%;
}
section#design div.container div#design-container article.piece .hover {
  opacity: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10%;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  transition: all 400ms ease;
}
section#design div.container div#design-container article.piece .btns {
  position: absolute;
  bottom: 10%;
  width: 80%;
  text-align: center;
}
/*======================================================*/
/*================  RESPONSIVE STYLES  ================*/
/*====================================================*/
/*Contains ALL responsive code. Must be imported last so that it is the last css read.*/
/*************RESPONSIVE CODE*****************/
@media screen and (max-width: 1300px) {
  html {
    font-size: 15.5px;
  }
  header li {
    font-size: 1em;
  }
  .piece .btn {
    font-size: .5em;
  }
  body {
    background-color: #fff;
  }
  section#film div.container article#portal {
    text-align: center;
  }
  section#film div.container article#portal iframe {
    width: 100%;
  }
  section#film div.container article#portal {
    width: 57%;
    margin: 0 auto;
  }
  section#film div.container article#portal iframe {
    height: 400px;
  }
  section#typewriter-obsess div.container article#obsess {
    padding-bottom: 0;
  }
}
@media screen and (max-width: 1200px) {
  html {
    font-size: 15px;
  }
  header li a {
    padding: 0 12px;
  }
  header #crow {
    min-height: 145px;
    background-position: 84% 0;
  }
  section#design div.container div#design-container article.piece {
    margin-bottom: 115px;
  }
  h3 {
    line-height: 1.3em;
  }
  section#typewriter-obsess div.container article#typewriter {
    padding-bottom: 108px;
  }
}
@media screen and (max-width: 1100px) {
  html {
    font-size: 14.5px;
  }
  section#typewriter-obsess div.container {
    background-size: 121%;
  }
  section#typewriter-obsess div.container article#typewriter {
    padding-top: 150px;
  }
  section#design div.container div#design-container article.piece {
    margin-bottom: 95px;
  }
  section#contact div.cans .info {
    width: 50%;
  }
  section#contact div.cans {
    background-position: center 40px;
  }
  header #crow {
    min-height: 115px;
  }
  header #crow img {
    padding: 4px 30px 21px 100px;
  }
  header li a {
    padding: 0 10px;
  }
  section#film div.container article#portal {
    width: 67%;
  }
  footer {
    border-top: 20px solid #fff;
  }
  section#about div.container,
  section#film div.container,
  section#design div.container,
  section#contact div.container {
    border-bottom: none;
  }
}
@media screen and (max-width: 1024px) {
  section#design div.container div#design-container article.piece {
    background-color: transparent;
    width: 38%;
  }
  section#design div.container div#design-container article.piece:hover img {
    opacity: 1;
  }
  section#design div.container div#design-container article.piece img {
    width: 49%;
    display: inline-block;
    margin-right: 2%;
  }
  section#design div.container div#design-container article.piece .hover {
    display: inline-block;
    opacity: 1;
    width: 47%;
    height: auto;
    position: static;
    padding: 0;
    vertical-align: top;
  }
  section#design div.container div#design-container article.piece .hover h3 {
    text-align: left;
    color: #000;
  }
  section#design div.container div#design-container article.piece .btns {
    position: static;
    width: auto;
    text-align: left;
    margin-top: 20px;
  }
}
@media screen and (max-width: 1000px) {
  html {
    font-size: 14px;
  }
  header li a {
    padding: 0 6px;
  }
  section#typewriter-obsess div.container article#typewriter {
    width: 65%;
  }
  section#typewriter-obsess div.container article#obsess {
    width: 34%;
  }
  section#about div.container article#text {
    padding: 110px 45px 0px 30px;
  }
  section#about div.container article#desk {
    padding: 64px 0 70px;
  }
  header #crow {
    min-height: auto;
    background-size: 20%;
    background-position: 72% 10px;
  }
  header #crow img {
    width: 60%;
    padding-bottom: 30px;
  }
  section#typewriter-obsess div.container {
    background-size: 133%;
  }
}
@media screen and (max-width: 900px) {
  html {
    font-size: 13.5px;
  }
  header nav {
    height: 0;
    overflow: hidden;
  }
  header nav.expand {
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    z-index: 1;
    padding: 70px 50px 10px 20px;
    border-left: 7px solid #000000;
    border-bottom: 7px solid #000000;
    z-index: 3;
  }
  header nav.expand li {
    display: block;
    margin: 30px 0;
  }
  header nav.expand li a:hover {
    background: transparent;
    color: #febf10;
  }
  header div#nav {
    overflow: visible;
    right: 0;
  }
  header a#showMenu {
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 4;
  }
  header #crow {
    margin-top: 0;
    background-size: 25%;
    background-position: 72% 30px;
    max-height: 125px;
    position: absolute;
    bottom: 0;
  }
  header #crow img {
    padding: 40px 30px 50px 100px;
  }
  section#film div.container article#portal {
    width: 90%;
  }
  section#film div.container article#portal img {
    padding: 220px 0px 190px;
  }
  section#design div.container div#design-container {
    width: 80%;
    margin: 0 auto;
  }
  section#design div.container div#design-container article.piece {
    width: 89%;
  }
  section#design div.container div#design-container article.piece img {
    width: 20%;
  }
  section#design div.container div#design-container article.piece .hover {
    width: 76%;
  }
  section#contact div.cans {
    background-position: center 0;
  }
  section#contact div.cans .info {
    width: 60%;
  }
  section#typewriter-obsess div.container {
    background-size: 139%;
  }
}
@media screen and (max-width: 800px) {
  html {
    font-size: 13px;
  }
  header #crow {
    margin-top: 10px;
    background-position: 74% 17px;
  }
  header #crow img {
    padding: 32px 60px 20px 20px;
    width: 60%;
  }
  section#typewriter-obsess div.container article#typewriter {
    padding: 70px 0 88px;
    width: 72%;
  }
  section#typewriter-obsess div.container article#obsess {
    width: 27%;
    padding: 120px 0 300px;
  }
  section#about div.container article#text {
    padding-top: 50px;
  }
  section#contact div.cans {
    background-size: 80%;
  }
}
@media screen and (max-width: 700px) {
  header div#logo {
    width: 80%;
  }
  header div#nav {
    width: 100%;
    position: static;
  }
  header div.inner {
    border-right: 20px solid #fff;
  }
  header #crow {
    display: none;
  }
  header #crow img {
    padding: 22px 0px 20px 80px;
  }
  section#typewriter-obsess div.container {
    background: none center center #febf10;
    margin-top: 21px;
  }
  section#typewriter-obsess div.container article#typewriter {
    width: 100%;
  }
  section#typewriter-obsess div.container article#typewriter img {
    width: 60%;
  }
  section#typewriter-obsess div.container article#obsess {
    width: 100%;
    background-color: #000000;
    padding-bottom: 120px;
  }
  section#typewriter-obsess div.container article#typewriter .social img {
    border: 1px solid #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
  section#about div.container article#desk {
    width: 100%;
    padding-bottom: 30px;
  }
  section#about div.container article#desk img {
    width: 70%;
  }
  section#about div.container article#text {
    width: 100%;
    padding: 0px 45px 50px 30px;
  }
  section#film div.container article#portal img {
    padding: 65px 0px 50px;
    width: 10%;
  }
  section#film div.container article#text {
    width: 100%;
    padding: 0 30px 0;
  }
  section#contact div.cans article {
    width: 100%;
  }
  section#contact div.cans article:first-child {
    border-right: none;
  }
  section#contact div.cans article p.phone,
  section#contact div.cans article p.address {
    text-align: center;
    padding-right: 0;
    padding-left: 0;
  }
  section#contact div.cans {
    background-position: center 70px;
  }
  section#contact div.container div.socials {
    text-align: center;
  }
  section#typewriter-obsess div.container a.social {
    bottom: 10px;
  }
  section#typewriter-obsess div.container article#typewriter a.social {
    height: 40px;
  }
  section#typewriter-obsess div.container article#typewriter a.social img {
    width: 100%;
  }
  section#typewriter-obsess div.container article#obsess a.vimeo {
    height: 40px;
  }
  section#typewriter-obsess div.container article#obsess a.vimeo img {
    width: 100%;
  }
  section#typewriter-obsess div.container article#typewriter a.instagram {
    left: 60px;
  }
  section#typewriter-obsess div.container article#typewriter a.twitter {
    left: 110px;
  }
  section#contact div.container div.socials {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 600px) {
  section#contact div.container h1 {
    margin-top: 20px;
  }
  section#design div.container div#design-container {
    width: 100%;
  }
  section#film div.container article#portal iframe {
    height: 290px;
  }
}
@media screen and (max-width: 500px) {
  section#typewriter-obsess div.container article#obsess {
    padding: 70px 0 80px;
  }
  section#contact div.cans article p span.email {
    margin-top: 20px;
    display: block;
  }
  section#contact div.container h1 {
    margin-bottom: 10px;
  }
  section#contact div.cans {
    background-position: center 100px;
    padding-bottom: 60px;
  }
  header #crow {
    margin-top: 0;
    background-size: 30%;
  }
  header #crow img {
    padding: 60px 0px 40px 50px;
    width: 50%;
  }
}
@media screen and (max-width: 400px) {
  header #crow {
    margin-top: 10px;
    background-size: 40%;
  }
  header #crow img {
    width: 80%;
    padding: 50px 100px 40px 10px;
  }
  section#film div.container article#portal {
    padding-top: 20px;
  }
  section#film div.container article#portal iframe {
    height: 190px;
  }
  section#design div.container div#design-container {
    padding-top: 20px;
  }
  header a#showMenu {
    width: 40px;
  }
  header a#showMenu img {
    width: 100%;
  }
  section#design div.container div#design-container article.piece img {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
  section#design div.container div#design-container article.piece .hover {
    width: 100%;
  }
  .piece .btn {
    font-size: 1em;
  }
  section#design div.container div#design-container article.piece {
    margin-bottom: 60px;
  }
  section#design div.container div#design-container article.piece:last-child {
    margin-bottom: 0;
  }
  section#design div.container div#design-container article.piece .btns {
    text-align: right;
  }
  section#contact div.cans .info {
    width: 80%;
  }
  section#contact div.cans article p span.email {
    margin-top: 10px;
  }
  section#contact div.cans article p {
    padding-top: 20px;
  }
  section#contact div.cans .info article:last-child p {
    padding-top: 0;
  }
}
