body {
	-webkit-font-smoothing: antialiased;
}

.inner {
	max-width: 1300px;
	margin: 0 auto;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
}


/******** COLOR STYLES *********/
@yellow:	#febf10;
@black:		#000000;

h1 {
	font-family: arial, sans-serif;
	font-weight: bold;
	font-size: 1.1875em;
	line-height: 1.35em;
	color: #000;
}

h2 {
	font-family: georgia, sans-serif;
	font-size: 1em;
	line-height: 1.35em;
	color: #000;
}

h3 {

}

p {
	padding-bottom: 20px;
}

