body {
	-webkit-font-smoothing: antialiased;
}

.inner {
	max-width: 1300px;
	margin: 0 auto;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
}


/******** COLOR STYLES *********/
@yellow:	#febf10;
@black:		#000000;

h1 {
	font-family: arial, sans-serif;
	font-weight: bold;
	font-size: 1.1875em;
	line-height: 1.35em;
	color: #000;
}

h2 {
	font-family: georgia, sans-serif;
	font-size: 1em;
	line-height: 1.35em;
	color: #000;
}

h3 {
	font-family: georgia, sans-serif;
	font-size: .8em;
	line-height: 1.5em;
	color: #fff;
	text-align: center;
}

p {
	padding-bottom: 20px;
}

.btn {
	border: 2px solid #fff;
	.border-radius;
	font-family: arial, sans-serif;
	font-size: .7em;
	line-height: 2em;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	color: #fff;
	text-decoration: none;
	padding: 7px;
	text-align: center;
	.transition;
	&:hover {
		background-color: #fff;
		color: #000;
	}
	&.two {
		width: 47%;
		margin-right: 3%;
		&:last-child {
			margin-right: 0;
		}
	}
}